<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置为IUserDao接口方法提供sql语句配置 -->
<mapper namespace="com.shopping.dao.IGoodsDao">

    <select id="selectGoodsByType" resultType="Goods" parameterType="Integer">
        SELECT * FROM goods WHERE type = #{type}
    </select>

    <select id="selectGoodsById" resultType="Goods" parameterType="Integer">
        SELECT * FROM goods WHERE id = #{Id}
    </select>

</mapper>